div[style="height: 100vh;"]
  .d-flex.justify-content-center.w-100
    main.d-flex.flex-nowrap.flex-column
      header.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-md-between.py-3.border-bottom.w-100
        .d-flex.nav-link.fs-3.align-items-center
          i.bi.bi-twitter.mx-3
          a
            | Hietter
        .col-md-3.mb-2.mb-md-0
        .col-md-3.text-end
          - if user_signed_in?
            = link_to "ログアウト", destroy_user_session_path, class: "btn btn-outline-primary me-2" , data: { turbo_method: :delete }
          - else
            = link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary me-2"
            = link_to "新規登録", new_user_registration_path, class: "btn btn-primary"
      .hstack.gap-2
        .p-1.border-end
          .d-flex.flex-column.align-items-start.flex-shrink-0.p-3.bg-body-tertiary[style="width: 260px; height: calc(100vh - 100px);"]
            ul.nav.nav-pills.navbar-nav.flex-column.gap-0.row-gap-3
              li
                .d-flex.nav-link.fs-4.align-items-center
                  i.bi.bi-house.me-2
                  |  ホーム 
              li
                a.d-flex.nav-link.link-body-emphasis.fs-4.align-items-center[href="#"]
                  i.bi.bi-bell.me-2
                  |  通知 
              li
                a.d-flex.nav-link.link-body-emphasis.fs-4.align-items-center[href="#"]
                  i.bi.bi-envelope.me-2
                  |  メッセージ 
              li
                a.d-flex.nav-link.link-body-emphasis.fs-4.align-items-center[href="#"]
                  i.bi.bi-person.me-2
                  |  プロフィール 
              li
                a.d-flex.nav-link.link-body-emphasis.fs-4.align-items-center[href="#"]
                  i.bi.bi-gear.me-2
                  |  設定 
            .dropdown.mt-auto
              - if user_signed_in?
                a.d-flex.align-items-center.link-body-emphasis.text-decoration-none.dropdown-toggle[href="#" data-bs-toggle="dropdown" aria-expanded="false"]

                  img.rounded-circle.me-2[src="https://placehold.jp/100x100.png" alt="" width="32" height="32"]
                  strong
                  = @user.name
                ul.dropdown-menu.text-small.shadow
                  li
                    a.dropdown-item[href="#"]
                      |  プロフィール
              - else
                .fs-5
                  |  ゲスト

        .p-2[style="width: 720px;"]
          |  tweet
