<main class="form-signin w-100 m-auto row">
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="col align-self-center me-5">
    <i class="bi bi-twitter d-flex justify-content-center m" style="font-size: 300px;"></i>
  </div>
