.form-signin.w-100.m-auto.row
  = render "users/shared/error_messages", resource: resource
  .col.align-self-center.me-5
    i.bi.bi-twitter.d-flex.justify-content-center.m[style="font-size: 300px;"]
